* {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  box-sizing: border-box;
  font-family: var(--primary-font-family);

  scroll-behavior: smooth;
}

/* p, h1, h2, h3, button {
  font-size: var(--font-size);
} */

html, body {
  height: 100%;
  font-size: var(--font-size);
  /* background-color: var(--color-secondary-dark); */
  /* min-height:1000vh; */
}

h1 {
  font-family: var(--primary-font-family);
  font-weight: 500;
  font-size: 200%;
}

h2 {
  font-size: 130%;
  font-family: var(--third-font-family);
  /* font-weight: 500; */
}

h3 {
  font-weight: 400;
}

p {
  /* font-weight: 300; */
  /*  */
  font-family: var(--primary-font-family);
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  max-width: var(--container-max-size);
  width: var(--container-size);
  margin: var(--align-center);
}

.social {
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid white;
  border-radius: 100%;

  /* cursor: pointer; */
  
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: var(--transition-default);
}

.social:hover {
  color: var(--color-primary-dark);
  background-color: white;
}

ol, li {
  list-style: none;
}

a {
  text-decoration: none;
  /* color: black; */
  color: #4271db;
}

.skills-column > p.subtitle {
  /* font-weight: bold; */
  margin-top: 2rem;
  font-size: calc(var(--font-size) + .0030rem);
  margin-bottom: .8rem;
}

.primary-color-dark {
  color: var(--color-primary-dark);
}

.border-left {
  border-left: .5px solid rgba(79, 79, 79, 0.1);
}

.button--default {
  cursor: pointer;
  transition: var(--transition-default);
  padding:
    var(--padding-top-default-button)
    var(--padding-left-default-button);
  border: var(--border-style-default);
  border-radius: var(--border-radius-default);
}

.button--default__color {
  border: var(--border-style-secondary);
}
.button--default:hover {
  background-color: rgba(255, 255, 255, 0.123);
}

.emphasis--color {
  color: var(--color-emphasis);
}
