<header class="header-home" data-animate-header>
  <section class="container flex">
    <div class="header-home__logo flex">
      <h2 class="header-home__logo--title">José Hamilton</h2>
    </div>

    <nav class="header-home__nav">
      <ul class="flex">
        <li>
          <a href="#" class="home-link home-link__size">Blog</a>
        </li>

        <li>
          <a href="#" class="home-link home-link__size">Social</a>
        </li>

        <!-- menu mobile with 1026px -->

        <li>
          <a href="#specify" class="home-link home-link__size">Contact me</a>
        </li>
      </ul>
    </nav>
  </section>
</header>