<!DOCTYPE html>
<html lang="pt-BR">
<!-- #5864FF -->

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- <script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script> -->
  <link rel="stylesheet" href="./assets/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="./assets/css/page/home.css">
  
  <script src="./assets/fontawesome/js/all.min.js" defer></script>
  <script src="./assets/js/page/home.js" type="module" defer></script>
  
  <link rel="shortcut icon" href="./assets/images/icon/favicon-prizatech.ico" type="image/x-icon">
  
  <title>
    José Hamilton | Back End Developer Freelancer
  </title>
</head>