<!DOCTYPE html>
<html>

<head>
  <meta charSet="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title class="jsx-75192e1c6fd4560f">Hamilton Santos</title>
  <meta name="description" content="Entregando soluções personalizadas e eficientes para atender às suas
  necessidades!" class="jsx-75192e1c6fd4560f" />
  <meta property="og:type" content="website" class="jsx-75192e1c6fd4560f" />
  <meta property="og:locale" content="pt_BR" class="jsx-75192e1c6fd4560f" />
  <meta property="og:title" content="Filipe Deschamps" class="jsx-75192e1c6fd4560f" />
  <meta property="og:description" content="Vou fazer você se apaixonar por programação!" class="jsx-75192e1c6fd4560f" />
  <meta property="og:image" content="/avatar-big.png" class="jsx-75192e1c6fd4560f" />
  <link rel="icon" type="image/png" href="images/profile-pic-hamilton.ico" sizes="180x180" class="jsx-75192e1c6fd4560f" />
  <meta name="next-head-count" content="14" /><noscript data-n-css=""></noscript>
  <style id="__jsx-75192e1c6fd4560f">
    * {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box
    }

    html,
    body {
      padding: 0;
      margin: 0
    }

    .container {
      min-height: 80vh;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -moz-box-orient: vertical;
      -moz-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -moz-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Helvetica, Arial, sans-serif;
      -webkit-font-smoothing: antialiased;
      color: #333;
      text-align: center
    }

    a {
      color: inherit;
      text-decoration: none
    }
  </style>
  <style id="__jsx-7d0c093f5e518fb2">
    .avatar.jsx-7d0c093f5e518fb2 {
      width: 200px;
      height: 200px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      margin: 2rem 0
    }

    .title.jsx-7d0c093f5e518fb2 {
      margin: 0;
      line-height: 1.15;
      font-size: 3.5rem;
      text-align: center;
      letter-spacing: -.02em
    }

    .description.jsx-7d0c093f5e518fb2 {
      text-align: center;
      line-height: 1.5;
      font-size: 1.3rem
    }

    .grid.jsx-7d0c093f5e518fb2 {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      max-width: 800px;
      margin-top: 1.5rem
    }

    .card.jsx-7d0c093f5e518fb2 {
      margin: 1rem;
      -webkit-flex-basis: 45%;
      -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
      padding: 1.5rem;
      text-align: left;
      text-decoration: none;
      border: 1px solid#eaeaea;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      -webkit-transition: color.15s ease, border-color.15s ease;
      -moz-transition: color.15s ease, border-color.15s ease;
      -o-transition: color.15s ease, border-color.15s ease;
      transition: color.15s ease, border-color.15s ease
    }

    .card.jsx-7d0c093f5e518fb2:hover,
    .card.jsx-7d0c093f5e518fb2:focus,
    .card.jsx-7d0c093f5e518fb2:active {
      color: #107fd2;
      border-color: #107fd2
    }

    .card.jsx-7d0c093f5e518fb2 h3.jsx-7d0c093f5e518fb2 {
      margin: 0 0 1rem 0;
      font-size: 1.5rem
    }

    .card.jsx-7d0c093f5e518fb2 p.jsx-7d0c093f5e518fb2 {
      margin: 0;
      font-size: 1.25rem;
      line-height: 1.5
    }

    @media(max-width:700px) {
      .avatar.jsx-7d0c093f5e518fb2 {
        width: 120px;
        height: 120px;
        margin-bottom: 2rem
      }

      .title.jsx-7d0c093f5e518fb2 {
        line-height: 1;
        font-size: 2rem
      }

      .grid.jsx-7d0c093f5e518fb2 {
        width: 100%;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -moz-box-orient: horizontal;
        -moz-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        margin-top: 0rem
      }

      .card.jsx-7d0c093f5e518fb2 {
        -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%
      }

      .card.jsx-7d0c093f5e518fb2 h3.jsx-7d0c093f5e518fb2 {
        margin: 0 0 .5rem 0;
        font-size: 1.5rem
      }
    }
  </style>
</head>

<body>
  <div id="__next" data-reactroot="">
    <div class="jsx-75192e1c6fd4560f container"><img src="images/profile-pic-hamilton.png" title="Hamilton foto"
        alt="Hamilton foto" class="jsx-7d0c093f5e518fb2 avatar" />
      <h1 class="jsx-7d0c093f5e518fb2 title">Hamilton Santos</h1>

      <p class="jsx-7d0c093f5e518fb2 description">Entregando soluções personalizadas e eficientes para atender às suas
        necessidades!
      </p>

      <div style="padding:20px 0;"></div>

      <h2 class="jsx-7d0c093f5e518fb2 title">Projetos</h2>
      <div class="jsx-7d0c093f5e518fb2 grid">

        <a href="https://youtube.com/@hamiltonjr_dev_" class="jsx-7d0c093f5e518fb2 card">
          <h3 class="jsx-7d0c093f5e518fb2">API de Pagamentos</h3>
          <p class="jsx-7d0c093f5e518fb2">Projeto que hoje sou completamente apaixonado.</p>
        </a>

        <a class="jsx-7d0c093f5e518fb2 card" href="https://api.whatsapp.com/send?phone=5575981849068">
          <h3 class="jsx-7d0c093f5e518fb2">Blog</h3>
          <p class="jsx-7d0c093f5e518fb2">Gostou e quer entrar em contato?</p>
        </a>

        <a href="https://www.linkedin.com/in/jhamiltonjunior" class="jsx-7d0c093f5e518fb2 card">
          <h3 class="jsx-7d0c093f5e518fb2">Criador de Tarefas</h3>
          <p class="jsx-7d0c093f5e518fb2">Com foco em Expor Como eu desenvolvo meus projetos</p>
        </a>

        <a href="https://instagram.com/hamiltonjr.dev" class="jsx-7d0c093f5e518fb2 card">
          <h3 class="jsx-7d0c093f5e518fb2">Instagram</h3>
          <p class="jsx-7d0c093f5e518fb2">Ótimo local para você acompanhar alguns dos meus projetos.</p>
        </a>

        <a href="https://instagram.com/hamiltonjr.dev" class="jsx-7d0c093f5e518fb2 card">
          <h3 class="jsx-7d0c093f5e518fb2">Instagram</h3>
          <p class="jsx-7d0c093f5e518fb2">Ótimo local para você acompanhar alguns dos meus projetos.</p>
        </a>

        <a href="https://instagram.com/hamiltonjr.dev" class="jsx-7d0c093f5e518fb2 card">
          <h3 class="jsx-7d0c093f5e518fb2">Instagram</h3>
          <p class="jsx-7d0c093f5e518fb2">Ótimo local para você acompanhar alguns dos meus projetos.</p>
        </a>
      </div>

      <div style="padding:20px 0;"></div>


      <h2 class="jsx-7d0c093f5e518fb2 title">Social</h2>
      <div class="jsx-7d0c093f5e518fb2 grid">

        <a href="https://youtube.com/@hamiltonjr_dev_" class="jsx-7d0c093f5e518fb2 card">
          <h3 class="jsx-7d0c093f5e518fb2">YouTube</h3>
          <p class="jsx-7d0c093f5e518fb2">Projeto que hoje sou completamente apaixonado.</p>
        </a>

        <a class="jsx-7d0c093f5e518fb2 card" href="https://api.whatsapp.com/send?phone=5575981849068">
          <h3 class="jsx-7d0c093f5e518fb2">WhatsApp</h3>
          <p class="jsx-7d0c093f5e518fb2">Gostou e quer entrar em contato?</p>
        </a>

        <a href="https://www.linkedin.com/in/jhamiltonjunior" class="jsx-7d0c093f5e518fb2 card">
          <h3 class="jsx-7d0c093f5e518fb2">LinkedIn</h3>
          <p class="jsx-7d0c093f5e518fb2">Com foco em Expor Como eu desenvolvo meus projetos</p>
        </a>

        <a href="https://instagram.com/hamiltonjr.dev" class="jsx-7d0c093f5e518fb2 card">
          <h3 class="jsx-7d0c093f5e518fb2">Instagram</h3>
          <p class="jsx-7d0c093f5e518fb2">Ótimo local para você acompanhar alguns dos meus projetos.</p>
        </a>
      </div>
    </div>
  </div>
</body>

</html>