@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600;700&display=swap');

@import '../variable.css';
@import '../default.css';
@import '../includes/header.css';

h2 {
  font-size: 2.7rem;
}


h1,
h2,
h3,
h4 {
  font-family: 'Source Sans Pro', sans-serif;
  color: var(--color-text-base);
}

p,
div {
  font-family: 'Nunito', sans-serif;
  font-size: 1.1rem;
  color: var(--color-text-base);
}

body {
  background-color: var(--color-article-background-dark);
}

.m-hero__picture {
  width: 100%;
  height: 20rem;
  max-height: 20rem;

  background-image: url('../../images/fundo.jpg');
  background-size: cover;
}