<%- include('includes/head') %>
<script src="/js/create-article.js" defer></script>

</head>


<body>
  <%- include('includes/header') %>


  <div class="container">
    <div id="editorjs"></div>
    <button> enviar </button>
  </div>

</body>
</html>