<%- include('includes/head') %>
<script src="/js/create-article.js" defer></script>

</head>

<%- include('includes/header') %>

<body>
  <div class="container">
    <div id="editorjs"></div>
    <button> enviar </button>
  </div>

</body>
</html>