<%- include('includes/header') %>


<body>
  <div class="container">
    <div id="editorjs"></div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/editorjs-style@latest"></script>
  <script src="/js/create-article.js"></script>
</body>
</html>