<%- include('includes/header') %>
  <script src="/js/show-article.js" defer></script>

  </head>

  <body>
    <div class="container">
      <div class="hidden"></div>


    </div>

    <main class="main">
      <section class="m-hero with-picture">
        <div class="m-hero__picture">
          <!-- <img src="/images/fundo.jpg" alt=""> -->
        </div>
      </section>

      <article>
        <div class="container">

          <div id="editorjs">
          </div>
        </div>
      </article>
    </main>

  </body>

  </html>