<%- include('includes/header') %>
<script src="/js/show-article.js" defer></script>

</head>

<body>
  <div class="container">
    <div class="hidden"></div>

    <div id="editorjs">
    </div>
  </div>

</body>
</html>