.header-home {
  width: 100%;
  /* z-index: 982; */
  /* position: fixed;
  top: 0;
  right: 0;
  left: 0; */
  padding: .9rem 0;
}

.header-home__logo--title {
  color: #6570FF;
  font-size: 130%;
}

/* .h-logo--scroll {
  color: #5864FF;
} */

.home-link {
  color: black;
  transition: var(--transition-default);
}

.home-link:hover {
  width: 1000px;
  height: 100px;
  font-size: 110%;
  border-bottom: 4px solid var(--color-logo-secondary);
}

a.color-black {
  color: black;
}

a:hover {
  color: var(--color-secondary);
}

.home-link__size {
  font-size: 80%;
}

.header-home__nav {
  width: 15%;
}